# --- Core App & Web ---
flask
waitress
pytz
PyYAML

# --- RAG & AI ---
faiss-cpu  # hoặc faiss-gpu nếu server có GPU và cài đúng
sentence-transformers
llama-cpp-python
langchain-text-splitters # cho TokenTextSplitter
transformers # cho AutoTokenizer

# --- File Processing ---
pypdf
python-docx
beautifulsoup4
markdown-it-py

# --- Utilities ---
requests
numpy
tqdm
